.DS_Store
.git
.gitignore
.github
.vscode
*.log
logs
node_modules
.next
coverage
playwright-report
test-results
.env
.env.*
*.md
Dockerfile
README.md
Vitrine-De-Craques-App
Vitrine-De-Craques-App-iOS
