# Node.js
node_modules/
dist/
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# NestJS
.next/
.turbo/
.vercel/
.DS_Store
playwright-report/
/coverage
*.tsbuildinfo

# Prisma
prisma/*.db
/prisma/migrations/*
!/prisma/migrations/schema.prisma # Keep schema.prisma in migrations
!/prisma/migrations/index.ts # If using custom migration scripts
!/prisma/schema.prisma # Keep the main schema.prisma file
/prisma/dev.db # If using SQLite for development

*.zip.next
*.zip
out
dist

# MacOS specific
.DS_Store